
// TODO: Make dis work
input:focus { 
    outline: none; 
}

.btn {
    box-shadow: 6px 5px 0px rgba(0,0,0,0.15);
    text-shadow: 2px 1px 0px rgba(0,0,0,0.15);
    position: relative;
    @include transition(all 0.2s);
    font-size: $font-size-h1;
    white-space: normal;

    &:active {
        box-shadow: 3px 2px 0px rgba(0,0,0,0.3);
        top: 3px;
        left: 2px;
    }
}

.application-form {
    display: none;
}

.gform_wrapper {

    ul {
        @extend .list-unstyled;
    }

    li {
        @extend .form-group;

        &.gfield {
            margin-top: $font-size-h4;
        }
    }

    form {
        margin-bottom: 0;
    }

    .gfield_required {
        padding-left: 1px;
        color: $state-danger-text;
    }

    .gfield_label, .gfield_checkbox li label, .gfield_radio li label {
        font-weight: 100 !important;
    }

}

.gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio], .gform_wrapper .gfield_checkbox li input {
        position: relative;
        margin-top: 10px !important;
        margin-left: 3px;
    }

.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description, .gform_wrapper .ginput_complex label, .gform_wrapper .gfield_time_hour label, .gform_wrapper .gfield_time_minute label, .gform_wrapper .gfield_date_month label, .gform_wrapper .gfield_date_day label, .gform_wrapper .gfield_date_year label, .gform_wrapper .instruction {
        font-size: $font-size-base/1.5 !important;
        color: $gray !important;
        font-family: $font-family-sans-serif !important;
}

.ginput_container {

    input[type="text"],
    input[type="email"],
    input[type="search"],
    select,
    textarea {
        @extend .form-control;
        padding: $padding-large-vertical;
    }

    textarea {
      height: auto;
    }
}

.gform_button {
  @extend .btn;
  @extend .btn-warning;
}

.gform_wrapper .gfield_error {

    .gfield_label {
        color: $state-danger-text;
    }

    input[type="text"],
    input[type="email"],
    input[type="search"],
    select,
    textarea {
        border-color: $alert-danger-border;
        background-color: $alert-danger-bg;
        color: $alert-danger-text;
        @include form-control-focus( $alert-danger-text );
    }
}

.validation_error {
    @extend .alert;
    @extend .alert-danger;
}

#gforms_confirmation_message {
    @extend .alert;
    @extend .alert-success;
}